* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    
  }

  
  body {
    font-family: Arial, sans-serif;
    line-height: 1.5;
    background-color: #f0f0f0;
  }

  #cartSummary{
    background-color: #fff;
    margin-bottom: 20px;
    padding: 20px;
    border-radius: 4px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  }
  .amount{
    font-size: 18px;
    padding: 10px;
    font-weight: bold;
    color: black;
  }
  
  .App {
    max-width: 800px;
    margin: 0 auto;
    padding: 20px;
  }
  
  .center {
    text-align: center;
  }
  
  h1 {
    font-size: 24px;
    margin-bottom: 20px;
  }
  
  table {
    width: 100%;
    border-collapse: collapse;
    margin-bottom: 20px;
    text-align: center;
  }
  
  th,
  td {
    padding: 10px;
    border: 1px solid #ccc;
  }
  
  thead {
    background-color: #f0f0f0;
  }
  
  button {
    padding: 8px 16px;
    margin: 0.5em;
    font-size: 14px;
    border: none;
    background-color: #007bff;
    color: #fff;
    cursor: pointer;
  }
  
  button:hover {
    background-color: #0056b3;
  }
  
  #totalQuantity,
  #totalPrice,
  #totalPriceWithGiftWrap,
  #totalPriceWithShipping,
  #totalPriceWithDiscount {
    font-weight: bold;
  }
  
  .fees,
  .rules {
    background-color: #fff;
    margin-bottom: 20px;
    padding: 20px;
    border-radius: 4px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  }
  
  .fees h2,
  .rules h2 {
    font-size: 20px;
    margin-bottom: 10px;
  }
  
  ul {
    list-style-type: disc;
    margin-left: 20px;
    margin-bottom: 10px;
  }
  
  h4 {
    font-size: 16px;
    margin-top: 20px;
  }
  
  /* Responsive styles */
  @media screen and (max-width: 480px) {
    h1 {
      font-size: 20px;
    }
  
    table {
      font-size: 12px;
    }
  
    button {
      font-size: 12px;
      padding: 6px 12px;
    }
  
    .fees,
    .rules {
      padding: 10px;
    }
  
    .fees h2,
    .rules h2 {
      font-size: 18px;
    }
  
    h4 {
      font-size: 14px;
    }
  }
  
  